/**
 * Site header
 */
.site-header {
    min-height: 88px;
    background-color: #ffffff;
    // Positioning context for the mobile navigation icon
    position: relative;

    
}

.header-title {
   position: absolute;               
   top: 50%;                         
   transform: translate(0, -50%);
}

.header-logo {

    margin-right: 19px;
    width: 75px;
    height: 38px;
    float: left;


    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 200' fill='%23666666'><path d='M26.473 52.517C10.106 52.517 0 40.9 0 26.258 0 11.615 10.106 0 26.473 0 42.84 0 52.945 11.615 52.945 26.258c0 14.642-10.105 26.259-26.472 26.259zm110.691-38.82c-9.935 0-18.096 1.796-22.125 5.47-2.735 2.493-3.995 5.828-3.995 10.7v99.283c0 16.508-2.651 25.454-8.485 31.725-5.129 5.512-13.189 8.499-22.056 8.499-8.655 0-16.33-2.883-20.898-7.713-4.771-5.043-7.002-12.038-7.002-22.376V74.622c0-2.828-1.058-4.085-4.185-4.085H4.467c-3.093 0-4.115 1.215-4.115 4.103v58.455c0 23.335 6.017 36.661 16.521 47.163C30.52 193.904 53.846 200 76.013 200c22.136 0 45.214-7.847 58.854-20.449 13.386 12.205 37.71 20.438 64.555 20.438 35.471 0 61.544-14.665 76.763-39.601 6.759 10.466 11.749 18.25 16.545 25.338C299.794 196.163 306.223 200 320.606 200c13.627 0 21.808-3.272 29.176-14.545 19.328-29.553 35.8-64.502 47.673-96.66 1.486-4.024 2.544-6.957 2.544-8.796 0-1.883-1.226-3.363-4.151-4.29-2.834-.898-10.458-3.236-14.278-4.4-6.351-1.934-8.658-2.505-10.032-2.505-2.57 0-3.968 1.438-4.861 4.406-8.907 29.63-22.453 62.924-34.54 83.606-3.959-7.555-11.279-20.693-18.071-32.542-10.504-18.332-20.879-36.829-26.091-45.33-5.265-8.591-8.791-10.88-15.718-10.88-14.284 0-35.439 12.818-35.439 24.769 0 4.055 1.127 7.096 5.334 14.28 4.788 8.172 7.191 14.804 7.191 22.958 0 20.317-15.175 38.721-44.483 38.721-13.909 0-24.646-3.947-31.642-11.127-6.674-6.85-9.923-16.064-9.923-31.453v-25.813c4.887 2.09 10.891 3.154 18.124 3.154h23.203c3.129 0 4.224-1.258 4.224-4.086V74.612c0-2.827-1.095-4.086-4.224-4.086h-41.327V29.867c0-4.873-1.269-8.208-4.003-10.7-4.029-3.673-12.334-5.47-22.128-5.47'/></svg>");
}

.site-title {
    color: #19bec8;
    font-size: 24px;
    font-family: ReemBold, Calibri, Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 56px;
    margin-bottom: 0;
    float: left;
    &:hover {
        color: #19bec8; 
        //text-decoration: underline;
    }

}


.site-nav {
    float: right;
    padding: 30px 0 0 40px;
    
    
    .page-link {
        color: $text-color;
        padding-left: 30px;
        font-size: 16px;
    }

    .avtive-page-link {
        color: $brand-color;
    }

}




/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 14px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 28px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 18px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h4 {
        font-size: 14px;

        @include media-query($on-laptop) {
            font-size: 14px;
        }
    }
}

